.searchbar {
  padding: 7px;
  background-color: #0e1c2e;
  width: 300px;
}

.searchbar p {
  color: #fff;
  padding: 3px 0;
}

.searchbar form {
  padding: 3px;
}

.searchbar form label {
  color: #fff;
}

.searchbar form input {
  padding: 7px 20px;
  background: #182c47;
  border: 0 solid rgb(221, 220, 220);
  color: #fff;
}

.searchbar form button {
  background-color: #5692e8;
  padding: 7px 2em;
  border: none;
  border-radius: 5px;
}

.games {
}

.games .game_box {
  width: 100%;
  text-decoration: none;
  border: solid 0px #182c47;
  background-color: #0e1a2b;
  z-index: 1;
  color: #fff;
}

.games .game_box h1 {
  font-size: 1.2em;
}
